<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Emissor de Certificados</title>
</head>

<body>
    <div class="nav-bar-container">
        <nav>
            <ul>
                {% if current_user.is_anonymous %}
                <li><a href="/">Login</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="/certificate">Certificados</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/register">Registrar usuário</a></li>

                {% endif %}
            </ul>{% if current_user.is_authenticated %}
            <div><a href="/logout">Logout</a></div>
            {% endif %}
        </nav>
    </div>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>